<h1>Registered Users</h1>

<div class="container">
  {{#each users}}
    <div class="item">
      <p>
        {{this.id}}
        -
        {{this.name}}
        works as
        {{this.occupation}}
      </p>
      <div class="actions">
        <a href="/users/{{this.id}}">Ver detalhes</a>
      </div>
    </div>
  {{/each}}
</div>